include ../mixins/_cork
section.section.hidden.section-faq#faq
  .container 
    h2.clickTest FAQ 
    .faq-items.flex 
      .faq-item
        .faq-item__header.flex
          p(data-text="question1") When is the release??
          span.faq-item__header-content.flex.flex-center
        .faq-item__content
          p(data-text="answer1")
            | The Game's Release spending in в July 19
      .faq-item
        .faq-item__header.flex
          p(data-text="question2") The game give the opportunity only to play as a little cat?
          span.faq-item__header-content.flex.flex-center
        .faq-item__content
          p(data-text="answer2")
            |Yeah, just for him.
      .faq-item
        .faq-item__header.flex
          p(data-text="question3") What is #[span.stray Stray] about?
          span.faq-item__header-content.flex.flex-center
        .faq-item__content
          p(data-text="answer3") The story follows a stray cat who falls into a walled city populated by robots, machines, and mutant bacteria, and sets out to return to the surface with the help of a drone companion, B-12.The game is presented through a third-person perspective. 


