include ../mixins/_cork
section.section.section-main 
  .container 
    header.header.flex
      .header-menu.flex
        .header-menu__button
          span
        nav.header-menu__list 
          ul.flex.flex-center
            li
              a.header-menu__link.menu-link(data-text="editions" href="#editions") editions
            li
              a.header-menu__link.menu-link(data-text="controller"  href="#controller") controller
            li
              a.header-menu__link.menu-link(data-text="about"  href="#about") about game
            li
              a.header-menu__link.menu-link(data-text="explore"  href="#explore") explore
            li
              a.header-menu__link.menu-link(data-text="news" href="#news") news 
            li
              a.header-menu__link.menu-link(data-text="faq" href="#faq") faq 
            li
              .header-menu__link.lang 
                span.current-lang(data-text="currentLang" ) english
                <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_12_93)">
                <path d="M0.159766 3.67328L5.61446 9.15492C5.71671 9.25772 5.85547 9.31546 6.00013 9.31546C6.14482 9.31546 6.28355 9.25768 6.38584 9.15488L11.8402 3.67325C12.0533 3.45917 12.0533 3.11211 11.8402 2.89803C11.6273 2.68399 11.2819 2.68396 11.0689 2.89803L6.00013 7.99205L0.931148 2.89803C0.824638 2.79099 0.685039 2.73749 0.545439 2.73749C0.405838 2.73749 0.266238 2.79099 0.15973 2.89807C-0.0532522 3.11214 -0.0532522 3.45921 0.159766 3.67328Z" fill="white"/>
                </g>
                <defs>
                <clipPath id="clip0_12_93">
                <rect width="12" height="12.0596" fill="white" transform="translate(12 12.6592) rotate(-180)"/>
                </clipPath>
                </defs>
                </svg>
                .header-menu__languages
                  .header-menu__language.language(data-lang="ru") Русский
                  .header-menu__language.language(data-lang="en") English
      .header-timer.flex.flex-center
        span(data-text="release" ) Release
        .header-timer__values.flex.flex-center
          .header-timer__item
            .header-timer__item-value#days 0
            .header-timer__item-info D
          .header-timer__item
            .header-timer__item-value#hours 0
            .header-timer__item-info H
          .header-timer__item
            .header-timer__item-value#minutes 0
            .header-timer__item-info M
          .header-timer__item
            .header-timer__item-value#seconds 0
            .header-timer__item-info S
    .description
      .description-title
        h1 St#[span.delay1 r]a#[span.delay2 y]
      .description-subtitle 
        h4.description-subtitle__accent UNTANGLE AN ANCIENT MYSTERY TO ESCAPE A LONG-FORGOTTEN CITY 
        p(data-text="headerSubtitle" ) Lost, alone and separated from family, a stray cat must untangle an ancient mystery to escape a long-forgotten city.
      .description-button.buy-button(data-value="0" data-text="buy" ) buy now
