$main: linear-gradient(180deg, #0a0a0b 10.42%, #0b051a 100%);
$dark: #30373f;
$violet: #8856d9;
$sea: #a9c7c7;
$grey: #8c96a0;
$orange: #ff4136;
$white: #fff;
$black: #000;
$navPrimary: #23232e;
$navSecondary: #141418;
$navTextPrime: #b6b6b6;
$navTextSecond: #ececec;
